.footer {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  height: 5rem;
  width: 100%;
  border-top: 1px solid #f5f5f5;
  box-shadow: 0 -0.125rem 0.25rem rgba(0, 0, 0, 0.05);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
}